<div class="modal fed-bd-gry">
    <div class="modal-content fed-pd-10 fed-bd-gry">
        <h4>
            User Variables
            <i style="float:right;color:#000" class="fa fa-close modal-action modal-close"></i>
        </h4>
        <div class="modal-content fed-pd-10 feb-pdb-35" style="min-height:300px;">
        <div class="variable-list"></div>
        <div style="margin-left: auto;margin-right: auto;">
            <a (click)="appendVariableRow()" class="waves-effect waves-light btn btn-bg-color" href="#" title="Add">
                <i class="fa fa-plus"></i>
            </a>
            <button (click)="saveVariables()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored btn-bg-color">Save</button>
        </div>
        <div class="variable-message" role="alert"></div>
        </div>
    </div>
</div>