<header class="app-header navbar" style="border-bottom:0px;">
    <a style="border-bottom:0px;" class="navbar-brand" href="#"><img style="width:168px;height:auto;" src="../../assets/image/logo.png"/></a>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            </a>
        </li>
    </ul>
</header>
<body class="app flex-row align-items-center">
    <div class="container">
        <!--
        <div class="row justify-content-center">
            <div class="col-md-8">
                 <div class="card-group">
                     <div class="card p-4">
                        <div class="card-body">
                            <img style="width:95px;height:auto;padding-bottom: 40px;" src="../../assets/image/logo.png"/>
                            <p class="text-muted"></p>
                            <p class="text-muted"></p>
                            <div class="input-group mb-3">
                                <div style="padding:10px" class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username">
                            </div>
                            <div class="input-group mb-4">
                                <div style="padding:10px" class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <button style="margin-left: auto;margin-right: auto;"type="button" class="btn btn-primary px-4">Login</button>
                        </div>
                       </div>
                        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                            <div class="card-body text-center">
                                <div>
                                    <h2>Sign up</h2>
                                    <img style="width:85px;height:auto" src="../../assets/image/database.png"/>
                                    <p>Federated query is the ability to take a query and provide solutions based on information from many different sources.</p>
                                    <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                                </div>
                            </div>
                        </div>
                   </div>
             </div>
        </div>-->
        <svg width="380px" height="500px" viewBox="0 0 837 1045" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                <path d="M353,9 L626.664028,170 L626.664028,487 L353,642 L79.3359724,487 L79.3359724,170 L353,9 Z" id="Polygon-1" stroke="#fff" stroke-width="6" sketch:type="MSShapeGroup"></path>
                <path d="M78.5,529 L147,569.186414 L147,648.311216 L78.5,687 L10,648.311216 L10,569.186414 L78.5,529 Z" id="Polygon-2" stroke="#fff" stroke-width="6" sketch:type="MSShapeGroup"></path>
                <path d="M773,186 L827,217.538705 L827,279.636651 L773,310 L719,279.636651 L719,217.538705 L773,186 Z" id="Polygon-3" stroke="#fff" stroke-width="6" sketch:type="MSShapeGroup"></path>
                <path d="M639,529 L773,607.846761 L773,763.091627 L639,839 L505,763.091627 L505,607.846761 L639,529 Z" id="Polygon-4" stroke="#fff" stroke-width="6" sketch:type="MSShapeGroup"></path>
                <path d="M281,801 L383,861.025276 L383,979.21169 L281,1037 L179,979.21169 L179,861.025276 L281,801 Z" id="Polygon-5" stroke="#fff" stroke-width="6" sketch:type="MSShapeGroup"></path>
                
            </g>
          </svg>
          
          <div class="message-box">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="min-height: 88px">
                    <div class="mdl-card__supporting-text">
                        <label>Username</label>
                        <input type="text"/>
                        <label>Password</label>
                        <input type="password"/>
                    </div>
               </div>        
                <div class="buttons-con">
                    <div class="action-link-wrap" >
                        <a  href="index.html#/home" class="link-button">Login</a>
                        <a  href="index.html#/login" class="link-button modal-trigger" href="#login-modal">Register</a>
                    </div>
                </div>
          </div>
            <!-- Create Database Modal Structure -->
            <div id="login-modal" class="modal login-modal">
                <div class="modal-content">
                    <label>First Name</label>
                    <input type="text"/>
                    <label>Last Name</label>
                    <input type="text"/>
                    <label>Email</label>
                    <input type="email"/>
                    <label>User Name</label>
                    <input type="text"/>
                    <label>Password</label>
                    <input type="password"/>
                    <label>Description</label>
                    <input type="text"/>
                    <button  style="margin-left: auto;margin-right: auto;width: 20%"  class="modal-action modal-close mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Register</button>  
                </div>
            </div>
    </div>
</body>